:root {
    --mc: #008850;
}

/* --mc, calc(), scale() : 함수 */

.sec {
    padding: 100px 0;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.tit {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.desc {
    font-weight: 300;
    margin-bottom: 50px;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

p {
    line-height: 1.4;
    word-break: keep-all;
}

.mc_btn {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid var(--mc);
    color: var(--mc);
    font-size: 14px;
    text-align: center;
}

.mc_btn::after {
    content: "\e93f";
    font-family: xeicon;
}

/* //////////////////// */
.Wrap {
    min-width: 1900px;
    color: #343434;
}

#header {
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    /* overflow: hidden; */
}

#header .topBanner {
    position: relative;
    height: 160px;
    background: tomato;
    overflow: hidden;
    transition: 0.5s;
}

#header .topBanner.on {
    height: 0;
}

#header .topBanner.on+i {
    display: none;
}

#header .topBanner a {
    display: block;
    height: 160px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#header .topBanner .itm01 a {
    background-image: url(../img/top_banner01.jpg);
}

#header .topBanner .itm02 a {
    background-image: url(../img/top_banner02.png);
}

#header .topBanner .itm03 a {
    background-image: url(../img/top_banner03.png);
}

#header .topBanner .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: auto;
}

#header .topBanner .dots span {
    width: 4px;
    height: 10px;
    background: #fff;
    border-radius: 0;
    transition: 0.5s;
}

#header .topBanner .dots span.swiper-pagination-bullet-active {
    transform: scale(1.5);
}

#header i {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-100%, 0);
    z-index: 999;
    margin: 0 0 0 600px;
    font-size: 30px;
    color: #fff;
}

#header .hdWap {
    position: absolute;
    left: 0;
    right: 0;
    line-height: 100px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    z-index: 999;

    transition: 0.5s;
}

#header .hdWap.on {
    line-height: 80px;
    background: rgba(255, 255, 255, 1);
    color: #444;
}

#header .hdWap .gnb {
    width: 1200px;
    margin: 0 auto;
}

#header .hdWap h1 {
    position: absolute;
    top: 0;
    left: 70px;
}

#header .hdWap h1 a {
    display: block;
    background: url(../img/logo_w.png) no-repeat center center;
    font-size: 0;
    width: 188px;
}

#header .hdWap.on h1 a {
    background: url(../img/logo_c.png) no-repeat center center;
}

#header .hdWap .right {
    position: absolute;
    top: 0;
    right: 70px;
}

/* header */

#main {}

#mainVisual {
    position: relative;
}

#mainVisual .itm {
    position: relative;
    height: calc(100vh - 160px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#mainVisual .itm01 {
    background-image: url(../img/main_visual01.jpg);
}

#mainVisual .itm02 {
    background-image: url(../img/main_visual02.jpg);
}

#mainVisual .itm03 {
    background-image: url(../img/main_visual03.png);
    background-position: center center;
}

#mainVisual .itm .slogan {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1200px;
    color: #fff;
    text-shadow: 0 1px 1px #111;
}

#mainVisual .itm .slogan h3 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
    width: 700px;
    line-height: 1.1;
}

#mainVisual .itm .slogan p {
    font-size: 20px;
    font-weight: 500;
}

#mainVisual .arrows>div {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;

    font-size: 0;
    width: 50px;
    height: 50px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}

#mainVisual .arrows>div:nth-child(1) {
    margin: 0 0 0 -700px;
    transform: translate(-50%, -50%) rotate(-45deg);
}

#mainVisual .arrows>div:nth-child(2) {
    margin: 0 0 0 700px;
    transform: translate(-50%, -50%) rotate(135deg);
}

#mainVisual .silde_nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    margin: 0 0 0 600px;
    color: #fff;
    z-index: 9;
}

#mainVisual .silde_nav li {
    text-align: right;
}

#mainVisual .silde_nav li a {
    display: block;
    padding: 2px 0;
    font-size: 0;
}

#mainVisual .silde_nav li.on a {
    font-size: inherit;
}

#mainVisual .silde_nav li a::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    margin: 0 0 0 10px;
    vertical-align: -2px;
}

#mainVisual .silde_nav li.on a::after {
    background: #fff;
}

#mainVisual .num {
    position: absolute;
    bottom: 300px;
    left: 50%;
    margin: 0 0 0 -600px;

    z-index: 9;
    font-size: 20px;
    color: #f2f2f2;
    text-shadow: 0 1px 1px #111;
}

#mainVisual .num strong {
    font-size: 30px;
    color: #4fb44f;
}

/* mainVisual */
#mainContent .content_list li {
    flex: 1;
    text-align: center;
}

#mainContent .content_list li figure img {
    transition: 0.5s;
    object-fit: cover;
}

#mainContent .content_list li:hover figure img {
    transform: scale(1.1);
}

#mainContent .content_list figure {
    margin-bottom: 30px;
    overflow: hidden;
}

#mainContent .content_list strong {
    position: relative;
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}

#mainContent .content_list strong::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 2px;
    height: 40px;
    background: var(--mc);
}

#mainContent .content_list p {
    padding: 0 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

#mainContent .content_list button {
    border: none;
    outline: none;
    background: none;
}

#mainPortfolio {
    background: url(../img/section2_bg.jpg)repeat-x;
}

#mainPortfolio .mp_wrap {
    width: calc(50% + 600px);
    margin: 0 0 0 auto;
}

#mainPortfolio .mp_wrap .left {
    width: 450px;
}

#mainPortfolio .mp_wrap .left img {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
}

#mainPortfolio .mp_wrap img {
    margin: 0 0 30px 0;
}

#mainPortfolio .stitle {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

#mainPortfolio .mp_wrap .right {
    flex: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#mainPortfolio .mp_wrap .right .tit,
#mainPortfolio .mp_wrap .right .desc {
    text-align: left;
    color: #fff;
}

#mainPortfolio .mp_right_wrap {
    width: calc(100% + 100px);
}

#mainPortfolio .mp_right_wrap .stitle {
    margin-bottom: 66px;
}

#mainPortfolio .arrows {
    display: inline-flex;
    border: 1px solid #fff;
    align-self: flex-start;
    color: #fff;
    margin-bottom: 100px;
}

#mainPortfolio .arrows li~li {
    border-left: 1px solid #fff;

}

#mainPortfolio .arrows li i {
    padding: 10px;
    font-size: 30px;
}

#mainSolution {
    background: #f9f9f9;
    position: relative;
}

#mainSolution .Ms_slide .swiper-slide {
    width: 1200px;

}

#mainSolution .Ms_slide li .case {
    filter: grayscale(1) brightness(150%);
    transition: 0.5s;
}

#mainSolution .Ms_slide li.on .case {
    filter: grayscale(0) brightness(100%);
}

#mainSolution .base {
    position: absolute;
    top: 320px;
    left: 50%;
    margin: 0 0 0 -500px;
    z-index: 1;
    background: #fff;
    width: 300px;
    padding: 50px 50px 50px 50px;
    border: 1px solid #f2f2f2;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

#mainSolution .Ms_content .content {
    display: none;
}

#mainSolution .Ms_content .content.on {
    display: block;
}

#mainSolution .Ms_content h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

#mainSolution .Ms_content p {
    font-size: 15px;
    font-weight: 300;
    min-height: 150px;
}

#mainSolution .Ms_content {
    position: relative;
    margin: 0 0 50px 0;
}

#mainSolution .Ms_content::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -50px;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 2px;
    background: var(--mc);
}

#mainSolution .num {
    font-size: 24px;
}

#mainSolution .num strong {
    font-size: 40px;
    font-weight: 500;
    color: var(--mc);
}

#mainSolution .arrows li {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: auto;
}

#mainSolution .arrows li:nth-child(1) {
    margin: 0 0 0 -600px;
}

#mainSolution .arrows li:nth-child(2) {
    margin: 0 0 0 600px;
}

#mainSolution .arrows li i {
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

#mainSolution .swiper-wrapper {
    margin-bottom: 50px;
}

#mainSolution .dots {
    text-align: center;
}

#mainSolution .dots span {
    width: 18px;
    height: 18px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0;
}

#mainSolution .dots span.swiper-pagination-bullet-active {
    background: var(--mc);
}